body{
    background-color: #2c3e50;
}
ul li,
.white_font{
    color: white;
}
#subtitle{
    color: #f1c40f;
}
.red_alert{
    color: #e74c3c;
}
.title_dia_semana{
    color: #000000;
    background-color: #f1c40f;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 15px;
}